In [749]:
from IPython.display import display, HTML
display(HTML("<style>.container {width:100% !important} <\style>"))

In [750]:
import pandas as pd
import datetime
import numpy as np

## Bring in order book data for coinbase and filter for last 1min snapshot

In [751]:
quote_data_coinbase = pd.read_csv(r"C:\Users\cc\Downloads\deri_data\2019-03-20_btc_perpetual_quote.csv")
quote_data_coinbase["timestamp"] = pd.to_datetime(quote_data_coinbase["timestamp"])
quote_data_coinbase["keeptimestamp"] = quote_data_coinbase["timestamp"]

## set timestamp index for resampling and select relevent columns
quote_data_coinbase.set_index("timestamp",inplace=True)
quote_data_coinbase = quote_data_coinbase[['keeptimestamp','level','bid_price','bid_size','ask_price','ask_size']]

## resample 1min data and keep only last row/timestamp of each minute
quote_data_coinbase_sample = quote_data_coinbase.resample('1min').last()
times = quote_data_coinbase_sample["keeptimestamp"].values

## filter original df with said timestamps so as to retrive full back for each end of minute snapshot
coinbase_snapshots = quote_data_coinbase[quote_data_coinbase["keeptimestamp"].isin(times)]
coinbase_snapshots.head(40)

,keeptimestamp,level,bid_price,bid_size,ask_price,ask_size
timestamp,,,,,,
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,1,3998.00,37149,3998.25,20041
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,2,3997.75,22884,3998.50,552
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,3,3997.50,1052,3998.75,24
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,4,3997.00,3263,3999.00,1570
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,5,3996.75,15470,3999.25,700
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,6,3996.50,4,3999.50,11557
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,7,3996.25,2860,3999.75,990
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,8,3996.00,1083,4000.00,880
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,9,3995.75,903,4000.25,252
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,10,3995.50,2175,4000.50,16638
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,11,3995.25,650,4000.75,16172
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,12,3995.00,184,4001.00,24433
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,13,3994.75,1513,4001.25,4
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,14,3994.50,5251,4001.50,5126
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,15,3994.25,5751,4002.00,1003
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,16,3994.00,1957,4002.25,1802
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,17,3993.75,1250,4002.50,1750
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,18,3993.50,1215,4002.75,550
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,19,3993.25,645,4003.00,4186
2019-03-19 23:59:59.994,2019-03-19 23:59:59.994,20,3993.00,3420,4003.25,1082
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,1,3998.00,30308,3998.25,17652
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,2,3997.75,19418,3998.50,9707
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,3,3997.50,830,3998.75,5202
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,4,3997.25,500,3999.00,5264
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,5,3997.00,1570,3999.25,700
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,6,3996.75,400,3999.50,1776
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,7,3996.50,74,3999.75,990
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,8,3996.25,4080,4000.00,5960
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,9,3996.00,1652,4000.50,16609
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,10,3995.75,15070,4000.75,82
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,11,3995.50,770,4001.00,5874
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,12,3995.25,19070,4001.25,14246
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,13,3995.00,1201,4001.50,4376
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,14,3994.75,693,4001.75,152
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,15,3994.50,2058,4002.00,3554
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,16,3994.25,5659,4002.25,1570
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,17,3994.00,3893,4002.50,750
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,18,3993.50,1710,4002.75,600
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,19,3993.25,805,4003.00,4215
2019-03-20 00:00:59.915,2019-03-20 00:00:59.915,20,3993.00,817,4003.25,2012

## Bring in order book data for bitstsamp and filter for last 1min snapshot

In [752]:
quote_data_bitstamp = pd.read_csv(r"C:\Users\cc\Downloads\deri_data\2019-03-20_btc_back_quarter_quote.csv")
quote_data_bitstamp["timestamp"] = pd.to_datetime(quote_data_bitstamp["timestamp"])
quote_data_bitstamp["keeptimestamp"] = quote_data_bitstamp["timestamp"]

## set timestamp index for resampling and select relevent columns
quote_data_bitstamp.set_index("timestamp",inplace=True)
quote_data_bitstamp = quote_data_bitstamp[['keeptimestamp','level','bid_price','bid_size','ask_price','ask_size']]

## resample 1min data and keep only last row/timestamp of each minute
quote_data_bitstamp_sample = quote_data_bitstamp.resample('1min').last()
times = quote_data_bitstamp_sample["keeptimestamp"].values

## filter original df with said timestamps so as to retrive full back for each end of minute snapshot
bitstamp_snapshots = quote_data_bitstamp[quote_data_bitstamp["keeptimestamp"].isin(times)]
bitstamp_snapshots.head(40)

,keeptimestamp,level,bid_price,bid_size,ask_price,ask_size
timestamp,,,,,,
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,1,3981.75,1023,3982.00,20
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,2,3981.50,3,3982.25,156
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,3,3981.00,802,3982.50,20
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,4,3980.75,1500,3983.00,1125
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,5,3979.25,5410,3984.25,1500
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,6,3979.00,3661,3985.00,360
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,7,3978.50,385,3985.25,750
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,8,3978.00,354,3985.50,569
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,9,3977.75,1068,3986.00,1317
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,10,3977.50,498,3986.25,476
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,11,3977.25,24,3987.00,273
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,12,3977.00,88,3987.50,117
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,13,3976.75,375,3987.75,4999
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,14,3976.50,398,3988.00,446
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,15,3976.25,99,3988.25,300
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,16,3976.00,520,3988.50,459
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,17,3975.25,300,3989.00,401
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,18,3975.00,2,3990.00,488
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,19,3974.50,400,3990.25,2251
2019-03-19 23:59:59.544,2019-03-19 23:59:59.544,20,3974.00,2,3991.00,301
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,1,3981.50,2515,3982.50,24
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,2,3981.00,802,3983.00,1125
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,3,3980.00,3463,3984.25,408
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,4,3978.50,440,3984.50,1500
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,5,3978.25,4999,3985.00,332
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,6,3978.00,1034,3985.25,750
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,7,3977.75,819,3985.50,454
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,8,3977.50,56,3986.00,1417
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,9,3977.25,424,3986.25,476
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,10,3977.00,447,3986.75,4999
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,11,3976.75,816,3987.00,718
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,12,3976.50,798,3987.50,117
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,13,3976.00,619,3988.00,1
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,14,3975.75,400,3988.50,459
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,15,3975.00,402,3989.00,401
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,16,3974.50,1958,3989.25,100
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,17,3974.25,80,3990.00,12
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,18,3974.00,402,3991.00,1
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,19,3973.25,400,3992.00,478
2019-03-20 00:00:59.820,2019-03-20 00:00:59.820,20,3972.50,400,3992.25,2354

## Bring in trades data

In [785]:
trade_data_coinbase = pd.read_csv(r"C:\Users\cc\Downloads\deri_data\2019-03-20_btc_perpetual_trade.csv")
trade_data_coinbase["instrument"] = "coinbase"
trade_data_coinbase.drop("my_utc_time",axis="columns",inplace=True)
coinbase_trades = trade_data_coinbase.reset_index(drop=True)

trade_data_bitstamp = pd.read_csv(r"C:\Users\cc\Downloads\deri_data\2019-03-20_btc_back_quarter_trade.csv")
trade_data_bitstamp["instrument"] = "bitstamp"
trade_data_bitstamp.drop("my_utc_time",axis="columns",inplace=True)
bitstamp_trades = trade_data_bitstamp.reset_index(drop=True)

display(coinbase_trades.head())
display(bitstamp_trades.head())

#quote_data["timestamp"] = pd.to_datetime(quote_data["timestamp"],format='%Y-%m-%dD%H:%M:%S.%f000') 
#quote_data = quote_data[quote_data["symbol"]=="XBTUSD"]
#quote_data = quote_data[["timestamp","bidPrice","askPrice"]]
#quote_data.set_index("timestamp",inplace=True)
#quote_data = quote_data.dropna()
#master = master.append(quote_data)

  instrument   qty                   timestamp   price direction
0   coinbase   200  2019-03-20 00:00:10.986000  3998.0      sell
1   coinbase   800  2019-03-20 00:00:10.986000  3998.0      sell
2   coinbase  1200  2019-03-20 00:00:11.005000  3998.0      sell
3   coinbase   100  2019-03-20 00:00:14.744000  3998.0      sell
4   coinbase     2  2019-03-20 00:00:18.335000  3998.0      sell

  instrument  qty                   timestamp    price direction
0   bitstamp    1  2019-03-20 00:00:05.302000  3981.75      sell
1   bitstamp    1  2019-03-20 00:00:09.859000  3981.00      sell
2   bitstamp    1  2019-03-20 00:00:12.219000  3981.00      sell
3   bitstamp    1  2019-03-20 00:00:13.484000  3981.00      sell
4   bitstamp    1  2019-03-20 00:00:17.133000  3981.00      sell

## Create vectorized backtest using histo data

## Creating function for streaming data

### Average trade weighted price 1min

In [755]:
def weighted_price(ob,size_required,rounding):
    prices = {}
    sizes = {}
    prices["bid"] = [x["bid_price"] for x in ob]
    sizes["bid"] = [x["bid_size"] for x in ob]
    prices["ask"] = [x["ask_price"] for x in ob]
    sizes["ask"] = [x["ask_size"] for x in ob]
    weighted_avg = {"bid":0,"ask":np.inf}
    for side in ["bid","ask"]:
        if sizes[side][0] >= size_required:
            weighted_avg[side] = prices[side][0]
        elif sum(sizes[side]) >= size_required:
            found_size = 0
            for level in range(len(prices[side])):
                found_size += sizes[side][level]
                if found_size >= size_required:
                    depth = level
                    break
            ### find average of depth-1 , then add amaount required from last level
            avg_price = 0
            for x in range(depth):
                avg_price += sizes[side][x] * prices[side][x]
            tot_sizes = sum(sizes[side][:depth])
            size_on_last_level = size_required-tot_sizes
            avg_price += size_on_last_level*prices[side][depth]
            ### calc avg ###
            weighted_avg[side] = round(avg_price/size_required/rounding,0)*rounding
        else:
            print("20 levels do not have enough size to trade a "+side)
    return weighted_avg

bit = bitstamp_snapshots.head(20).to_dict('records')
bid_ask_weights = weighted_price(bit,2000,0.25)
print(bid_ask_weights)
print(np.mean([bid_ask_weights["bid"],bid_ask_weights["ask"]]))

{'bid': 3981.25, 'ask': 3983.25}
3982.25

### Create timestamps for buckets

In [756]:
## the "time_length" MUST be a factor of the whole "time_interval" for it to work 
## return rounded down timestamp and the next timebucket stamp as an array
def round_timestamp (timestamp, time_interval='minutes',time_length=1):
    timestamp_breakdown = {
        'years' : timestamp.year,
        'months' : timestamp.month,
        'days' : timestamp.day,
        'hours' : timestamp.hour,
        'minutes' : timestamp.minute,
        'seconds' : timestamp.second,}
    
    times = ['years','months','days','hours','minutes','seconds']
    idx = times.index(time_interval)+1
    reset_interval = times[idx:len(times)]
    
    rounded_down = int(timestamp_breakdown[time_interval] / time_length) * time_length
    timestamp_breakdown[time_interval] = rounded_down
    for interval in reset_interval:
        timestamp_breakdown[interval] = 0
        
    t = timestamp_breakdown.copy()
    start_timestamp = datetime.datetime(year=t["years"],month=t["months"],day=t["days"],hour=t["hours"],minute=t["minutes"],second=t["seconds"])

    if time_interval == 'seconds':
        end_timestamp = start_timestamp+datetime.timedelta(seconds=time_length)
    elif time_interval == 'minutes':
        end_timestamp = start_timestamp+datetime.timedelta(minutes=time_length)
    return start_timestamp, end_timestamp

round_timestamp(datetime.datetime.now(),time_interval='minutes',time_length=1)

(datetime.datetime(2019, 3, 21, 16, 6), datetime.datetime(2019, 3, 21, 16, 7))

In [787]:
def interval_price(df_trades, df_ob, required_size, time_length, time_interval='minutes', rounding=0.01):

    df_trades["timestamp"] = pd.to_datetime(df_trades["timestamp"])
    
    # initialise
    total_price = 0
    total_quantity = 0
    buckets_avg = []
    test = []
    missed_timestamps = []
    first = True
    
    ## acts as a data streamer for trades (is looping through a dataframe)
    for index in range(len(df_trades)):
        row = df_trades.iloc[index]
        timestamp = pd.to_datetime(row["timestamp"])
        if first == True:
            start_timestamp, end_timestamp = round_timestamp(timestamp,time_interval=time_interval,time_length=time_length)
            first = False
            
        # if the timestamp jumps into the next bucket, then finish current bucket
        if timestamp > end_timestamp:
            weighted_avg = total_price/ total_quantity
            weighted_avg_round = round(round(weighted_avg / rounding) * rounding,10)
            buckets_avg.append((start_timestamp,weighted_avg_round))
            total_price = 0
            total_quantity = 0  
            test=[]
            
            while True:
                start_timestamp = end_timestamp
                end_timestamp = end_timestamp + datetime.timedelta(minutes=time_length)
                if timestamp > end_timestamp:
                    missed_timestamps.append(start_timestamp)
                    
                    ### create mid average based on orderbook snapshot
                    snap_shot = df_ob[(df_ob.index>=start_timestamp) & (df_ob.index<end_timestamp)].to_dict('records')
                    bid_ask_weights = weighted_price(snap_shot,required_size,0.00000001)
                    weighted_avg = np.mean((bid_ask_weights["bid"],bid_ask_weights["ask"]))
                    weighted_avg_round = round(round(weighted_avg / rounding) * rounding,10)
                    buckets_avg.append((start_timestamp,weighted_avg_round))
                else:
                    break
                        
        # if timestamp in current bucket then create weighted average price
        total_price += (row["qty"] * row["price"])
        total_quantity += row["qty"]  
        test.append((row["qty"],row["price"]))
    return buckets_avg # missed_timestamps

## 1 minute buckets - weighted average price
Trades: Price x Size / Size <br>
Else, exchange 1BTC weighted mid price <br>
Weighted price for 1BTC on ask and bid / 2. Levels may be truncacted to get exactly 1BTC. <br>
If not enough size to reach 1BTC, then take the average of what is availabe <br>

In [796]:
coinbase_buckets = interval_price(coinbase_trades, coinbase_snapshots, required_size=300, time_length=1)
bitstamp_buckets = interval_price(bitstamp_trades, bitstamp_snapshots, required_size=300, time_length=1)
#coinbase_buckets

## 1 hour fixing window 
Simple moving average of the last 60 interval prices (1min)

In [792]:
coinbase_1h = round(np.mean([bucket[1] for bucket in coinbase_buckets]),2)
bitstamp_1h = round(np.mean([bucket[1] for bucket in bitstamp_buckets]),2)
print("coinbase:",coinbase_1h,"bitstamp:",bitstamp_1h)

coinbase: 3994.22 bitstamp: 3977.1

## Elwood hourly reference rate
each Exchange price * weight / Total weights

In [795]:
def reference_rate(exch_one, weight_one, exch_two, weight_two):
    return ((exch_one * weight_one) + (exch_two * weight_two)) / (weight_one + weight_two)

reference_rate (coinbase_1h, 0.5, bitstamp_1h, 0.5)

3985.66